// Переменные
@import "src/sass/components/profile.scss";
@import "src/sass/components/icon.scss";
@import "src/sass/components/icon-btn.scss";
@import "src/sass/components/reference.scss";
@import "src/sass/components/keyword.scss";
@import "src/sass/components/good-card-form.scss";
@import "src/sass/components/good.scss";
@import "src/sass/components/catalog-header.scss";
@import "src/sass/components/informaion-light.scss";
@import "src/sass/components/manufacture.scss";
@import "src/sass/components/operations-trade.scss";

.balance-set-form {
  display: flex;
  justify-content: space-between;
}

.balance-set-form div:first-child {
  width: 30%;
}

.balance-set-form div:last-child {
  width: 60%;
}

// стилизация для разметки "скрытый инпут + лэйбл" - привести в порядок
input[name="contact"]:checked + label {
	border: 1px solid black;
}

.user-status {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 5px;
}

.user-permissions {
}

.user-permissions-string {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}

.user-permissions-string > span {
  display: inline-block;
  width: 300px;
  margin-right: auto;
}

.user-permissions-string > div {
  display: flex;
  justify-content: space-between;
  width: 50px;
  text-align: left;
}

.user-permissions-string > input {
}

.user-permissions-switch {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.user-permissions-stock {
  display: inline-block;
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #17a2b8;
  color: #fff;
  opacity: 1;
}

// Серый фон и шрифты
/*
@import "src/sass/components/app.scss";
@import "src/sass/components/font.scss";
body {
  font-family: "HelveticaNeue";
  font-size: 1rem;
}
*/
