// Переменные
@import "src/sass/components/profile.scss";
@import "src/sass/components/icon.scss";
@import "src/sass/components/icon-btn.scss";
@import "src/sass/components/reference-string.scss";
@import "src/sass/components/reference-header.scss";
@import "src/sass/components/keyword.scss";
@import "src/sass/components/good-card-form.scss";
@import "src/sass/components/good-tile.scss";

.enterprise-card-block {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 55px;
}

.reference-string {
  height: 44px;
}

.reference-string:hover {
  background-color: #ccc;
}

.btn:disabled {
  opacity: 0.3;
}

#list-contractors-card > h3 {
  margin-left: 54px;
}

input[name="contact"]:checked + label {
	border: 1px solid black;
}

.reference-row-number {
  display: inline-block;
  width: 25px;
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
}

.negative-switch {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.catalog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.catalog-header img {
  width: 44px;
  height: 44px;
}

.catalog-header h2 {
  margin-left: 5px;

}

.catalog-header-title {
  display: flex;

}

.catalog-header-buttons {
  display: flex;

}

.goods-string {
  display: flex;
  justify-content: space-between;
  min-height: 35px;
  border: 1px solid #ccc;
  margin-bottom: -1px;
}

.informaion-light {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  top: 20px;
  left: 20px;
  width: 360px;
  height: 50px;
  z-index: 9999;
}

.informaion-light p {
  margin: 0;
}

.informaion-light button {
  display: block;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9999;
}

// Серый фон и шрифты
/*
@import "src/sass/components/app.scss";
@import "src/sass/components/font.scss";
body {
  font-family: "HelveticaNeue";
  font-size: 1rem;
}
*/
