
.btn-excel{
	  background-color: #1E7D31;
	  width: 100px;

}

.btn-pdf{
	 background-color:#936AFB;
	 width: 100px;
}


.btn-preview-google{
  background-image: url(../img/icons8-google-96.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #C3EDEB;
  color: #000000;
  text-align: right;


  border-radius: 6px;
 
  height: 40px;
  width: 120px;
}


.btn-download{
		
  background-image: url(../img/icons8-download.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #C3EDEB;
  color: #000000;
  text-align: right;

 
  border-radius: 6px;
 
  height: 40px;
  width: 120px;
}


.docs-btn-search{
  background-image: url(../img/icons8-search-26.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0093FF;
  color: #000000;

  border-radius: 22px;
  height: 44px;
  width: 44px;
}

.bt-close{
   background-color:#000000;
  height: 44px;
  width: 44px;
  padding-top: 0px;
}
