.catalog-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  
  height: 40px;

}

.catalog-header img {

  margin-top: 6px;
  width: 40px;
  height: 40px;
}

.catalog-header h2 {
  margin-left: 5px;
  margin-top: 5px;

}


.catalog-header-title {
  display: flex;

}

.catalog-header-title img {

  margin-top: 4px;
  margin-right: 5px;
  width: 40px;
  height: 40px;
}



.catalog-header-buttons {
  display: flex;

}
