

.goods-card-form {
  max-width: 780px;

}
.goods-card-second-row{

  width: 100%;
}


.goods-card-name {
  width: 100%;
}

.goods-card-string {
  display: flex;
  justify-content: space-between;
  }


.goods-card-string-first-string {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  }


.goods-card-first-row {
  width: 35%;
}

.goods-card-first-row input {
  margin-bottom: 2px;
  text-align: right;
}
.goods-card-first-row-price-column{
 width: 30%;
 max-width: 105px;
}
.goods-card-first-row-express-column {
  width: 80%;
  padding-left: 6px;
  max-width: 406px;
}
.goods-card-first-row-express-column textarea {
  height: 100px;
  width: 100%;
  resize: none;
}
.goods-card-first-row-express-column select {
  display: block;
  width: 100%;
}

.goods-card-img {
  position: relative;
  // display: flex;
  border: 1px solid black;
  
  width: 210px;
  height: 210px;
  margin-right: 15px;
  // padding: 2px;
  // vertical-align: middle;
  line-height: 210px;
  text-align: center;
}
.price-total {
  display: flex;
  justify-content: space-between;
}

.goods-card-img img {
  // display: block;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.goods-card-img label {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}

.goods-card-btns-container {
  display: flex;
  justify-content: space-between;
}

.goods-card-btns-container > button{
  width: 200px;
}

input[name="express-purchase-radio"],
input[name="express-sell-radio"] {
	display: none;
}

input[name="express-purchase-radio"]:checked + label,
input[name="stock"]:checked + label,
input[name="express-sell-radio"]:checked + label {
	background-color: #eee;
}

.express-container button {
  margin: 0;
  max-width: 64px;
}

.express-container span {
  display: inline-block;
  width: 80px;
}

.express-container div {
  margin-bottom: 5px;
}

.express-container.express-container__muted {
  opacity: 0.3;
}


.goods-card-price-lbl{
  text-align: right;
width: 100px;
  }

.good-card-stock-row{
  height: 30px;
  border-width: 0px;
}
.goods-stock-header{
  margin-top: 20px;
}
.goods-stock-body{
  border-width: 10px;
  border-color: #000;
}
