.icon {
  width: 35px;
  height: 35px;
}

.icon__check {
  background-image: url("../img/icons8-checked-96.png");
  background-size: cover;
}

.icon__box {
  display: block;
  background-image: url("../img/box_c.png");
  background-size: cover;
}

.icon__truck {
  display: block;
  background-image: url("../img/truck-filled-32.png");
  background-size: cover;
}

.icon__male {
  display: block;
  background-image: url("../img/user-male-filled.png");
  background-size: cover;
}

.icon-little{
  width: 20px;
  height: 20px;
}
