.icon {
  width: 35px;
  height: 35px;
}

.icon__check {
  background-image: url("../img/icons8-checked-96.png");
  background-size: cover;
}

.icon__box {
  display: block;
  background-color: #ccc;
  background-image: url("../img/cardboard-box-filled-32.png");
  background-size: cover;
}

.icon__truck {
  display: block;
  background-color: #ccc;
  background-image: url("../img/truck-filled-32.png");
  background-size: cover;
}

.icon__male {
  display: block;
  background-color: #ccc;
  background-image: url("../img/user-male-filled-32.png");
  background-size: cover;
}
