.icon-btn {
  width: 42px;
  height: 42px;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

.icon-btn:disabled {
  opacity: 0.3;
}

.icon-btn__check--green {
  background-image: url("../img/icons8-checked-96.png");
  background-size: cover;
}

.icon-btn__check--white {
  background-image: url(../img/icons8-checked-48.png);
  background-size: cover;
}

.icon-btn__add {
  background-image: url(../img/plus-math-50.png);
  background-size: cover;
}

.icon-btn__edit {
  background-image: url(../img/icons8-edit-50.png);
  background-size: cover;
}

.icon-btn__delete {
  background-image: url(../img/trash-100.png);
  background-size: cover;
}

.icon-btn__go {
  background-image: url(../img/arrow-right.png);
  background-size: cover;
}
.icon-btn__rgb {
  background-image: url(../img/rgb-circle-1-50.png);
  background-size: cover;
}

.icon-btn__return {
  background-image: url(../img/icons8-left-100.png);
  background-size: cover;
  margin-right: 5px;
}

.icon-btn__copy {
  background-image: url(../img/copy_dubl-50.png);
  background-size: cover;
  background-color: darkcyan;
  margin-right: 5px;
}

.icon-btn__copy:hover {
  background-color: darkgreen;
}


.icon-btn__view {
  background-image: url(../img/select-all-100.png);
  background-size: cover;
  background-color: mediumpurple;
  margin-right: 5px;
}

.icon-btn__view-tiles {
  background-image: url(../img/collage-96-3x.png);
  background-size: cover;
  background-color: plum;
  margin-right: 5px;
}

.icon-btn__view:hover {
  background-color: purple;
}


.icon-btn__sort {
  background-image: url(../img/sort-down-100.png);
  background-size: cover;
  background-color: sandybrown;
  margin-right: 5px;
}

.icon-btn__sort:hover {
  background-color: darksalmon;
}

