.informaion-light {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  top: 20px;
  left: 20px;
  width: 360px;
  height: 50px;
  z-index: 9999;
}

.informaion-light p {
  margin: 0;
}

.informaion-light button {
  display: block;
  position: absolute;
  top: 0px;
  right: 5px;
  z-index: 9999;
}
