.modal-table-naklad-1{
	width: 40%;
	min-width: 300px;
}
.modal-table-naklad-2{
	width:60%;
}


.modal-table-naklad{
	
	padding-left: 40px;
	border: 4px solid linear-gradient(to bottom , #94E0DD, #FFFFFF);
}


.modal-table-naklad td{
	padding-left: 10px;
}

.modal-table-naklad tr:nth-child(odd){ 

  background-color: #ECF9FA;
}
.modal-table-naklad tr:nth-child(even){ /* Задаем стили для четных рядов таблицы */
  background-color: #ffffff;
}

.modal-table-naklad td:nth-child(2) {
	width: 80%;

}
