.reference-header {
  margin-bottom: 15px;
}

.reference-header img {
  width: 44px;
  height: 44px;
}

.reference-header h2 {
  margin-left: 5px;
}

.reference-string {
  min-height: 35px;
  border: 1px solid #ccc;
  margin-bottom: -1px;
}

.reference-string {
  height: 44px;
}

.reference-string:hover {
  background-color: #ccc;
}

.reference-row-number {
  display: inline-block;
  width: 25px;
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
}

.enterprise-card-block {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 55px;
}

#list-contractors-card > h3 {
  margin-left: 54px;
}

.negative-switch {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
