.reference-string {
  min-height: 35px;
  border: 1px solid #ccc;
  margin-bottom: -1px;
  background-color: #ECF9FA;
}

.reference-string:nth-child(even) {

  background-color: #FFF;
}




.reference-string:hover {

  background-color: #C3EDEB;
}

.reference-string.bg-light-selected{
  background-color: #89DCD8;
}